{% extends 'main.html'%}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <h1>
                  {% trans 'Dashboard' %}
               </h1>
            </section>
            <!-- Main content -->
            <section class="content">
               <!-- Small boxes (Stat box) -->
               <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                     <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                        <div class="info-box-content">
                           <span class="info-box-text">{% trans 'Total Invoices' %}</span>
                           <span class="info-box-number">{{ total_invoice_count }}<small></small></span>
                        </div>
                        <!-- /.info-box-content -->
                     </div>
                     <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4 col-sm-6 col-xs-12">
                     <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-file-invoice"></i></span>
                        <div class="info-box-content">
                           <span class="info-box-text">{% trans 'Submitted Invoices' %}</span>
                           <span class="info-box-number">{{ total_submited_invoice_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                     </div>
                     <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <!-- fix for small devices only -->
                  <div class="clearfix visible-sm-block"></div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                     <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                        <div class="info-box-content">
                           <span class="info-box-text">{% trans 'Not Submitted' %}</span>
                           <span class="info-box-number">{{ total_not_submited_invoice_count }}</span>
                        </div>
                        <!-- /.info-box-content -->
                     </div>
                     <!-- /.info-box -->
                  </div>
               </div>
               <!-- /.row -->
               <!-- Main row -->
               {{jar}}
            </section>
            <!-- /.content -->
         </div>
{% endblock body %}
