{% load static %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li><a href="{% url 'home:homepage' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
    <li class="treeview">
        <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Setup Pages</span>
        <i class="fa fa-angle-right pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'issuer:create-issuer' %}"><i class="fa fa-circle-o"></i>Create Issuer</a></li>
        </ul>
    </li>
    <li class="header">Invoices Section</li>
    <li class="treeview">
        <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Tax Invoice</span>
        <i class="fa fa-angle-right pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'taxManagement:get-all-invoice-headers' %}"><i class="fa fa-circle-o"></i>Upload Invoice</a></li>
            <li><a href="{% url 'taxManagement:list-eta-invoice' %}"><i class="fa fa-circle-o"></i>ETA Invoice</a></li>

        </ul>
    </li>
    </ul>
</section>
<!-- /.sidebar -->