{% extends 'main.html'%}
{% load static %}

{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update DB Connection
            <!-- <small>Optional description</small> -->
        </h1>

    </section>
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="container-fluid">
                <form method="POST" class="col-md-6 mb-0" id="myform">
                    {% csrf_token %}
                    <div class="form-row">
                        <label class="form-group col-md-12"></label>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">Database Name</label>
                            {{ db_form.database_name}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">IP Address</label>
                            {{ db_form.ip_address}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">Port Number</label>
                            {{ db_form.port_number}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">Service Number</label>
                            {{ db_form.service_number}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">User Name</label>
                            {{ db_form.username}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">Password</label>
                            {{ db_form.password}}
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-group col-md-4">Is Active</label>
                            {{ db_form.is_active}}
                        </div>
                        <div style="float:right; margin-bottom: 10px;">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock body %}