{% extends 'main.html'%}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% trans 'Receivers' %}
            <!-- <small>Optional description</small> -->
        </h1>

    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="col-sm-12">
                                <div class="margin pull-right">
                                    <a href="{% url 'issuer:create-receiver' %}" class="btn btn-primary margin-bottom">
                                        {% trans 'Add Receiver' %}
                                    </a>
                                    <a href="#" class="btn btn-success margin-bottom">
                                       {% trans 'Upload Excel' %}
                                    </a>
                                    <a href="{% url 'issuer:export-receiver-template' %}" class="btn btn-warning margin-bottom ">
                                       {% trans 'Export Excel Template' %}
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable"
                                        role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th>#</th>
                                                <th style="text-align: center;">{% trans 'Name' %}</th>
                                                <th style="text-align: center;">{% trans 'Registration Number' %}</th>
                                                <th style="text-align: center;">{% trans 'Type' %}</th>
                                                <th style="text-align: center;">{% trans 'Action' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for receiver in receivers %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td style="text-align: center;">{{ receiver.name }}</td>
                                                <td style="text-align: center;">{{ receiver.reg_num }}</td>
                                                <td style="text-align: center;">{{ receiver.get_type_display }}</td>
                                                <td style="display: flex; justify-content: space-around;">

                                                    <a href="{% url 'issuer:update-receiver' receiver.id %}" data-toggle="tooltip" title="{% trans 'Edit' %}">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>

                                                    <a href="{% url 'issuer:delete-receiver' receiver.id %}" data-toggle="tooltip" title="{% trans 'Delete' %}" onclick="return confirm('Are you sure?')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>


{% endblock body %}
