{% extends 'main.html'%}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          {{page_title}}
          <a href="{% url 'taxManagement:get-all-invoice-headers' %}" data-toggle="tooltip"
             title="{% trans 'Back to Invoices List' %}" class="pull-right btn btn-warning"
             style="margin-right: 2px;">
              {% trans 'Back to Invoices List' %}
          </a>
        </h1>

    </section>
    <section class="content-fluid">
        <form method="POST" id="myform" data-subtasks-url="{% url 'taxManagement:ajax_load_subtasks' %}">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group col-md-12">
                    <label for="inputEmail4">{% trans 'Issuer Name' %}</label>
                    <br>
                    <fieldset disabled="disabled">
                      {{issuer}}
                    </fieldset>
                  </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Description' %}</label>
                        <br>
                        {{ line_form.description}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Item Type' %}</label>
                        <br>
                        {{ line_form.itemType}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Item Code' %}</label>
                        <br>
                        {{ line_form.itemCode}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Unit Type' %}</label>
                        <br>
                        {{ line_form.unitType}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Quantity' %}</label>
                        <br>
                        {{ line_form.quantity}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Currency Sold' %}</label>
                        <br>
                        {{ line_form.currencySold}}
                    </div>

                    <div class="form-group col-md-4" id="amountSold">
                        <label for="inputEmail4">{% trans 'Amount Sold' %}</label>
                        <br>
                        {{ line_form.amountSold}}
                    </div>
                    <div class="form-group col-md-4" id="amountEGP">
                        <label for="inputEmail4">{% trans 'Amount EGP' %}</label>
                        <br>
                        {{ line_form.amountEGP}}
                    </div>
                    <div class="form-group col-md-4" id="currencyExchangeRate">
                        <label for="inputEmail4">{% trans 'Currency Exchange Rate' %}</label>
                        <br>
                        {{ line_form.currencyExchangeRate}}
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Value Difference' %}</label>
                        <br>
                        {{ line_form.valueDifference}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Items Discount' %}</label>
                        <br>
                        {{ line_form.itemsDiscount}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">{% trans 'Discount Rate' %}</label>
                        <br>
                        {{ line_form.rate}}
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">{% trans 'Internal Code' %}</label>
                        <br>
                        {{ line_form.internalCode}}
                    </div>
                </div>
                <div id="tax_line_set">
                    <div class="form-row">
                        <h2>{% trans 'Tax Lines' %}</h2>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">{% trans 'Tax Type' %}</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">{% trans 'Tax SubType' %}</label>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">{% trans 'Tax Rate' %}</label>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputEmail4">{% trans 'Tax Amount' %}</label>
                        </div>

                    </div>
                    {{tax_line_form.management_form}}
                    {% for form in tax_line_form %}
                    <div class="form-group col-md-3">
                        {{ form.taxType}}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.subType}}
                    </div>

                    <div class="form-group col-md-3">
                        {{ form.rate}}
                    </div>

                    <div class="form-group col-md-3">
                        {{ form.amount}}
                    </div>
                    {% endfor %}
                </div>


                <div id="tax_line_empty_form" style="display: none;">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{ tax_line_form.empty_form.taxType}}
                        </div>
                        <div class="form-group col-md-3">
                            {{ tax_line_form.empty_form.subType}}
                        </div>
                        <div class="form-group col-md-3">
                            {{ tax_line_form.empty_form.rate}}
                        </div>
                        <div class="form-group col-md-3">
                            {{ tax_line_form.empty_form.amount}}
                        </div>

                    </div>
                </div>
                <div class="separator mb-5"></div>
                <br>
                <div class="col-md-12">
                    <button type="button" id="add_line" onclick="add_tax_line_func()"
                        class="btn cur-p btn-success pull-right">{% trans 'Add Tax Line' %}</button>
                </div>
                <div class="separator mb-5"></div>
                <div class="form-group col-md-12">
                    <br>
                    <button type="submit" class="btn btn-primary" name="Save And Exit">{% trans 'Save And Exit' %}</button>
                    <button type="submit" class="btn btn-primary" name="Save And Add">{% trans 'Add Another Line' %}</button>

                </div>
            </div>
        </form>
    </section>
</div>

{% endblock body %}
{% block js %}
<script>

    function add_tax_line_func() {
        var form_idx = $('#id_tax_lines-TOTAL_FORMS').val();
        $('#tax_line_set').append($('#tax_line_empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_tax_lines-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var current_indx = Number(form_idx)

    };
</script>
<script>
    $(document).ready(function () {
        $('#id_currencySold').on('change', function () {
            console.log(this.value);
            if (this.value == 'EGP') {
                $("#amountEGP").show();
                $('#currencyExchangeRate').hide();
                $('#amountSold').hide();
            }
            else {
                $("#amountEGP").hide();
                $('#currencyExchangeRate').show();
                $('#amountSold').show();
            }
        });
    });
</script>
  <script type="text/javascript">
    // load subtasks ajax
    function select_subtask(object){
        var url = $('#myform').attr('data-subtasks-url'); // get the url of the `load_subtasks` view
        var task_id = object.value;  // get the item db ID
        var counter = slice_counter(object.id) // Slice the counter from the html id
        if(task_id){
            send_ajax_get_employees(url, task_id, counter)
        }
    };

    // slice id sequence number
    function slice_counter(element_id){
        counter_start = element_id.indexOf('-') + 1;
        counter_end = element_id.lastIndexOf('-');
        counter = element_id.slice(counter_start, counter_end);
        return counter;
    }

    //send ajax to get subtasks
    function send_ajax_get_employees(url, task_id, counter){
        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-subtasks/)
            data: {
                'task_id': task_id // add the task id to the GET parameters
            },
            success: function(result){ // `result` is the return of the `load_subtasks` view function
                $(`#id_tax_lines-${counter}-subType`).html(result); // replace the contents of the subtask input with the result that came from the server
            },
            error: function(result){
                console.log('error occurred')
            }
        });

    }
  </script>

{% endblock js %}
