{% extends 'main.html'%}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <h1>
                  {% trans 'ETA Invoices' %}
               </h1>

            </section>
            <!-- Main content -->
            <section class="content">
               {% include 'messages.html' %}
               <div class="row">
                  <div class="col-xs-12">
                     <div class="box">
                        <div class="box-header">
                           <h3 class="box-title">{% trans 'Data Table ETA Invoices' %}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                           <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="dataTables_length" id="example1_length">
                                       <label>
                                          {% trans 'Show' %}
                                          <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                             <option value="10">10</option>
                                             <option value="25">25</option>
                                             <option value="50">50</option>
                                             <option value="100">100</option>
                                          </select>
                                          {% trans 'entries' %}
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                       <div class="margin pull-right">
                                          <div class="btn-group">
                                              <button type="button" class="btn btn-success">{% trans 'Search' %}</button>
                                              <button type="button" class="btn btn-success">{% trans 'Filter' %}</button>
                                            </div>

                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                       <thead>
                                          <tr role="row">
                                             <th>{% trans 'Custumer ID' %}</th>
                                             <th>{% trans 'Status' %}</th>
                                             <th>{% trans 'Transaction Date' %}</th>
                                             <th>{% trans 'Doc Sequence Value' %}</th>
                                             <th>{% trans 'Submission ID' %}</th>
                                             <th>{% trans 'Uuid' %}</th>
                                             <th>{% trans 'view' %}</th>
                                             <th>{% trans 'Action' %}</th>
                                             <th>{% trans 'Resubmit' %}</th>
                                             {% if invoice.over_all_status == 'InProgress'  %}
                                             <th>{% trans 'Refresh' %}</th>
                                             {% endif %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for invoice in eta_invoice_list %}
                                          <tr>
                                             <td>{{ invoice.invoice.internal_id }}</td>
                                             {% if invoice.status == 'cancel'  %}
                                             <td><span class="label label-danger">Cancelled</span></td>
                                             {% elif invoice.over_all_status == 'Valid' %}
                                             <td><span class="label label-success">Valid</span></td>
                                             {% elif invoice.over_all_status == 'Invalid'  %}
                                             <td><span class="label label-danger">Invalid</span></td>
                                             {% elif invoice.over_all_status == 'InProgress'  %}
                                             <td><span class="label label-warning">In progress</span></td>
                                             {% elif invoice.over_all_status == 'Not Submitted'  %}
                                             <td><span class="label label-warning">Not Submitted</span></td>
                                             {% elif invoice.over_all_status == 'Partially valid'  %}
                                             <td><span class="label label-success">Partially Valid</span></td>
                                             {% elif invoice.over_all_status == 'Network Error'  %}
                                             <td><span class="label label-danger">"Network Error</span></td>
                                              {% else %}
                                             <td></td>
                                             {% endif %}
                                             <td>{{ invoice.date_time_received }}</td>
                                             <td>{{ invoice.document_count }}</td>
                                             <td>{{ invoice.subm_id }}</td>
                                             <td>{{ invoice.subm_uuid }}</td>
                                             <td><a href="{% url 'taxManagement:dec-detail' invoice.invoice.id%}"><i class="fa fa-fw fa-mail-forward"></i></a></td>
                                             {% if invoice.status != 'cancel' %}
                                             {% if invoice.over_all_status != 'Invalid'  %}
                                             <td><a href="{% url 'taxManagement:cancel_doc_form' doc_uuid=invoice.subm_uuid %}">{% trans 'Cancel' %}</a> </td>
                                             {% else %}
                                             <td></td>
                                             {% endif %} <!--   invalid over all status -->
                                             <td><a href="{% url 'taxManagement:resubmit-invoice' invoice.invoice.id %}"><span class="glyphicon glyphicon-cloud-upload"></span></a></td>
                                             {% if invoice.over_all_status == 'InProgress'  %}
                                             <td><a href="{% url 'taxManagement:refresh-submission-status' invoice.subm_id %}"><span class="	glyphicon glyphicon-refresh"></span></a></td>
                                             {% endif %}<!--   invoice is in progress -->
                                             {% endif %}<!--   invoiced is cancelled -->
                                          </tr>
                                           {% endfor %}
                                       </tbody>

                                    </table>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                 </div>
                                 <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                       <ul class="pagination">
                                          <li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li>
                                          <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
                                          <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
                                          <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
                                          <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
                                          <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
                                          <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
                                          <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.box-body -->
                     </div>
                     <!-- /.box -->
                  </div>
                  <!-- /.col -->
               </div>
               <!-- /.row -->
            </section>
         </div>
{% endblock body %}
