{% extends 'main.html'%}
{% load static %}
{% load l10n %}
{% load i18n %}


{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{page_title}}
      <!-- <small>Optional description</small> -->
      <a href="{% url 'taxManagement:get-all-invoice-headers' %}" data-toggle="tooltip"
        title="{% trans 'Back to Invoices List' %}" class="pull-right btn btn-warning" style="margin-right: 2px;">
        {% trans 'Back to Invoices List' %}
      </a>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="form-row">
      <div class="box">
        <div class="box-header">
          <h2 class="box-title" style="font-weight: bolder; font-size: 24px;">Invoice #{{ invoice_header.internal_id }}
          </h2>
          <div class="margin pull-right col-med-4">
            <div class="btn-group">
              {% if invoice_header.invoice_status == 'verified'%}
              <a href="{% url 'taxManagement:submit-invoice' invoice_id=invoice_header.id %}">
                <button class="btn btn-secondary">{% trans 'Submit Invoice' %} &nbsp;<span
                    class="glyphicon glyphicon-cloud-upload"></span></button>
              </a>
              {% endif %}

              {% if invoice_header.invoice_status != 'cancel'%}
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actionModal">
              {% trans 'Actions' %}
            </button>
              <!-- Modal -->
              <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{% trans 'Invoice Actions' %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {% trans 'What do you want to do with this invoice?' %}
                    </div>
                    <div class="modal-footer">
                      {% if invoice_header.invoice_status != 'verified' %}
                      <a href="{% url 'taxManagement:update-invoice-status' invoice_id=invoice_header.id status='verified' %}">
                        <button class="btn btn-success">{% trans 'Verify Invoice' %}</button>
                      </a>
                      {%endif%}
                      <a href="{% url 'taxManagement:update-invoice-status' invoice_id=invoice_header.id status='cancel' %}">
                        <button class="btn btn-danger">{% trans 'Refuse Invoice' %}</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>

          </div>
        </div>
        <div class="box-body">
          <div class="form-group col-md-4">
            <b>{% trans 'Issuer' %}: </b>
            {{invoice_header.issuer.name}}
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Receiver' %}: </b>
            {{invoice_header.receiver.name}}
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Date Time Issued' %}: </b>
            {{invoice_header.date_time_issued}}
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Total Sales' %}: </b>
            {{invoice_header.total_sales_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Total Discount' %}: </b>
            {{invoice_header.total_discount_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Net' %}: </b>
            {{invoice_header.net_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Extra Discount' %}: </b>
            {{invoice_header.extra_discount_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Total Items Discount' %}: </b>
            {{invoice_header.total_items_discount_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>Total Items Discount: </b>
            {{invoice_header.total_items_discount_amount}} EGP
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Total' %}: </b>
            {{invoice_header.total_amount}} EGP
          </div>
        </div>
      </div>
    </div>
    {% for line in invoice_lines %}
    <div class="box">
      <div class="box-header">
        <h2 class="box-title" style="font-weight: bolder;">{% trans 'Item' %} #{{ line.itemCode }}</h2>
      </div>
      <div class="box-body">
        <div class="form-group col-md-4">
          <b>{% trans 'Item Type' %}: </b>
          {{line.itemType}}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Unit Type' %}: </b>
          {{line.unitType}}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Quantity' %}: </b>
          {{line.quantity}}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Currency Sold' %}: </b>
          {{line.currencySold}}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Amount EGP' %}: </b>
          {{line.amountEGP}} EGP
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Sales Total' %}: </b>
          {{line.salesTotal}} EGP
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Total' %}: </b>
          {{line.total}} {% trans 'EGP' %}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Value Difference' %}: </b>
          {{line.valueDifference}}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Total Taxable Fees' %}: </b>
          {{line.totalTaxableFees}} {% trans 'EGP' %}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Items Discount' %}: </b>
          {{line.itemsDiscount}} {% trans 'EGP' %}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Net Total' %}: </b>
          {{line.netTotal}} {% trans 'EGP' %}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Discount Rate' %}: </b>
          {{line.rate}} %
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Discount Amount' %}: </b>
          {{line.amount}} {% trans 'EGP' %}
        </div>
        <div class="form-group col-md-4">
          <b>{% trans 'Internal Code' %}: </b>
          {{line.internalCode}}
        </div>
      </div>
      {% for tax in line.tax_lines.all %}
      <div class="box">
        <div class="box-header">
          <h2 class="box-title" style="font-weight: bolder;">{% trans 'Tax Subtype' %}: {{ tax.subType }}</h2>
        </div>
        <div class="box-body">
          <div class="form-group col-md-4">
            <b>{% trans 'Tax Type' %}: </b>
            {{tax.taxType}}
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Tax Rate' %}: </b>
            {{tax.rate}} %
          </div>
          <div class="form-group col-md-4">
            <b>{% trans 'Tax Amount' %}: </b>
            {{tax.amount}} {% trans 'EGP' %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </section>

</div>

{% endblock body %}
